@import "../node_modules/font-awesome/css/font-awesome.css";

body{
	background-color: #ebebeb;
}
.offer{
	display: block;
	position: absolute;
	top: -8px;
	right: -8px;
}
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.imgUser {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
.backgroundDark{
	background-color: #343a40!important;
}

.marginLink{
	margin-top: 4px;
}

a {
	text-decoration: none!important
}
.dropdown-item a:focus {
	color: #fff
}
.cover{
	height: 200px;
	object-fit: cover;
}

.shadow {
	-webkit-box-shadow: 1px 2px 17px 0 rgba(0,0,0,.2);
    box-shadow: 1px 2px 17px 0 rgba(0,0,0,.2);
}
.shadowHover:hover{
	-webkit-box-shadow: 1px 2px 17px 0 rgba(0,0,0,.2);
    box-shadow: 1px 2px 17px 0 rgba(0,0,0,.2);
	cursor: pointer;
}
footer{
	color: rgba(255,255,255,.75);
}
.footerTitle{
	color: rgba(255,255,255,.5);
}
@media screen and (max-width: 575px){
	body{
		font-size: small
	}
	.marginLink{
		margin-top: 0px;
	}
}